version: '3.8'

services:
  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - backend

  backend:
    build: .
    restart: always
    environment:
      - WHISPER_MODEL=large-v3-turbo
    volumes:
       - ./models:/app/models
    # deploy:
    #   resources:
    #     reservations:
    #       devices:
    #         - driver: nvidia ... (Removed for CPU VPS)
volumes:
  caddy_data:
  caddy_config:
